#CheckoutSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 80vh;

  @include media('<=tablet') {
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding-top: 0;
  }

  .mobileDropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    border: solid #ddd;
    width: 100%;
    height: 60px;

    @include media('>=tablet') {
      display: none;
    }

    .main {
      display: flex;
      align-items: center;

      @include media('<=tablet') {
        margin-left: 5px;
      }

      svg {
        width: 30px;

        @include media('<=tablet') {
          margin-right: 5px;
        }
      }

      .mobileTitle {
        color: $BreadcrumActiveColour;
        margin-right: 5px;
      }

      .dropDown:hover {
        cursor: pointer;
      }
    }

    .mobileTotalPrice {
      font-size: 17px;
      font-weight: 600;
      margin-right: 5px;

      @include media('<=tablet') {
        margin-left: 5px;
      }
    }
  }

  #ShoppingCartSummary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $ShoppingCartSummaryBackgroundColour;
    width: 40%;
    padding-top: 25px;
    border: solid #ddd;

    @include media('<=tablet') {
      width: 100%;
      border-right: solid #ddd;
      border-left: solid #ddd;
      border-bottom: solid #ddd;
      border-top: 0;
      padding-top: 15px;
    }

    .productsContainer {
      width: 85%;
    }

    .summaryContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #ddd;
      padding-top: 17px;
      width: 85%;

      .subCalculationContainer {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;

        .subContainer {
          @include CheckoutSumaryContainer();
          margin-bottom: 1em;

          .subTitle {
            font-size: 17px;
            font-weight: 100;
          }

          .subPrice {
            font-weight: 600;
          }
        }
      }

      .totalContainer {
        @include CheckoutSumaryContainer();
        border-top: 1px solid #ddd;
        padding-top: 17px;

        @include media('<=tablet') {
          margin-bottom: 2em;
        }

        .totalTitle {
          font-size: 20px;
        }

        .totalPrice {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  #PagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;

    @include media('<=tablet') {
      width: 100%;
    }

    .sectionTitle {
      letter-spacing: 2px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .breadCrumsContaienr {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2em;

      @include media('<=tablet') {
        display: none;
      }

      .breadCrum {
        font-size: 12.5px;
        margin-right: 5px;
      }

      .arrow {
        margin-right: 5px;
      }
    }

    .formTitle {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 1em;
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 3em;
      width: 85%;

      @include media('<=tablet') {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
      }

      .returnContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          transform: rotate(90deg);
        }

        .returnText {
          font-size: 14px;
          margin-left: 3px;
        }

        .returnText:hover,
        .icon:hover {
          cursor: pointer;
        }

        @include media('<=tablet') {
          margin-bottom: 3em;
        }
      }

      .continueBtn {
        @include Button();
        width: 12em;
        background-color: #007bff;
        color: #fff;

        @include media('<=tablet') {
          height: 3em;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}
