#ClientProfileSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-top: 1px solid #eee;

  @include media('<=tablet') {
    width: 90%;
  }

  #ProfileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 4em;
    width: 100%;
    border-bottom: 1px solid #eee;

    .bannerContainer {
      width: 100%;
      height: 15em;

      @include media('<=tablet') {
        height: 8em;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .detailContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;
      width: 100%;
      margin-bottom: 1em;

      @include media('<=tablet') {
        flex-direction: column;
      }

      .profileDetailsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .profileIconContainer {
          width: 80px;
          height: 80px;
          margin-right: 2em;

          img {
            width: 100%;
            height: 100%;
            border-radius: 4em;
          }
        }

        .profileTilesContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .profileTitle {
            font-size: 24px;
            margin-bottom: 6px;
            letter-spacing: 0.3px;
            margin: 0;
          }

          .profileLocation {
            font-size: 14px;
            letter-spacing: 0.3px;
            margin: 0;
          }

          .profileLocationContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .locationPin {
              width: 15px;
            }
          }

          .socialLinksContainer {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            margin-top: 9px;

            .socialMediaIcon {
              width: 20px;
              margin-right: 9px;
            }
          }
        }
      }
    }
  }

  #ProfileDescriptionContainer {
    border: 1px solid #eee;
    margin-bottom: 4em;
    padding: 20px;

    .descriptionText {
      font-size: 15px;
      letter-spacing: 1px;
      text-align: left;

      @include media('<=tablet') {
        font-size: 13px;
      }
    }
  }

  #ShoppingSection {
    width: 100%;

    .productsTitle {
      font-size: 24px;
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}
