#MainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #MainSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin-top: 3rem;
  }

  #ShoppingSection {
    width: 80%;
    border-top: 1px solid #eee;

    .itemsContainer {
      display: grid;
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      margin-top: 2rem;
    }
  }
}
// #ShoppingSection {
//   // @include MainBackground;

//   @include media('>tablet') {
//     height: 100vh;
//   }

//   #StoreItemsContainer {
//     display: flex;
//     flex-direction: column;
//     margin-left: 20px;

//     .itemsContainer {
//       @include ItemsContainer;

//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       margin-top: 20px;

//       @include media('<=phone') {
//         flex-direction: column;
//       }
//     }
//   }
// }
