#ItemSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: $ShopBackgrounColour;

	.ItemDisplaySection {
		@include ItemBackground($ShopBackgrounColour);
		align-items: center;
		justify-content: space-around;

		img {
			width: 15rem;
			height: 15rem;
			margin-top: 3rem;
		}

		.itemDetailsContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 3rem;
			margin-top: 2rem;
			.itemTitle {
				font-size: 21px;
			}

			.itemPrice {
				font-size: 17px;
			}
		}
	}

	.ItemDetailSection {
		@include ItemBackground($DefaultBackgroundColour);
		height: 100%;

		.itemColours,
		.itemSize,
		.itemDetail {
			margin-left: 20px;
		}

		.itemColours {
			margin-top: 2rem;
			margin-bottom: 2rem;

			.sectionTitle {
				margin-bottom: 8px;
			}
		}

		.itemSize {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 3rem;

			.sectionTitle {
				margin-bottom: 12px;
			}

			.sizeSelect {
				display: flex;
				flex-direction: row;
				margin-top: 10px;

				.size {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35px;
					height: 35px;
					border-radius: 7px;
					border: 0;
					background: $ShopBackgrounColour;
					margin-right: 12px;
				}
			}
		}

		.itemDetail {
			margin-bottom: 3rem;
			.sectionTitle {
				margin-bottom: 12px;
			}
		}
	}

	.ButtonsContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;

		.addToCartBtn {
			@include Button($ShopBackgrounColour);
			margin-right: 20px;
		}

		.buyNowBtn {
			@include Button($ItemPriceColour);
			color: $DefaultBackgroundColour;
		}
	}
}
