#ShoppingCartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border-top: 1px solid #eee;
  width: 80%;

  .fieldTitles {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 90%;

    .productField {
      width: 70%;
    }

    .otherFields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
    }
  }

  .shoppingCartItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 90%;
  }

  .cartInfo {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .subtotal {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .italics {
      font-size: 13px;
      margin-bottom: 14px;
    }

    button {
      @include Button();
    }

    .checkoutBtn {
      margin-left: 10px;
    }
  }
}
