#ShoppingCartSection {
    @include MainBackground;

    .titlesContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .checkoutBtn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 120px;
        min-height: 27px;
        background: $CheckoutbuttonColour;
        border-radius: 14px;
        border: 0;

        p {
            font-weight: 600;
            margin: 0;
            color: $DefaultBackgroundColour;
        }

        img {
            width: 15px;
            height: 15px;
        }
    }
}