html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: $TextColour;
  font-family: $PoppinsFont;
  font-weight: 400;
}

a:visited {
  color: $TextColour;
}

a {
  text-decoration: none;
  color: $TextColour;
}

p {
  margin: 0;
}

.sectionTitle {
  font-weight: 599;
  margin: -1;
}

.itemTitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.itemPrice {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: $ItemPriceColour;
}

.itemTitle:hover,
.itemPrice:hover {
  cursor: pointer;
}
