$ShopBackgrounColour: #f3f3ff;
$DefaultBackgroundColour: #ffffff;
$ShoppingCartSummaryBackgroundColour: #f6f6f6;
$TextColour: #262626;
$ItemPriceColour: #060dd9;
$CheckoutbuttonColour: #4deea3;
$ButtonColour: #007bff;
$BreadcrumActiveColour: #1990c6;

$PoppinsFont: 'Poppins', sans-serif;
