$ShopBackgrounColour: #f3f3ff;
$DefaultBackgroundColour: #ffffff;
$TextColour: #262626;
$ItemPriceColour: #060dd9;
$CheckoutbuttonColour: #4deea3;
$ButtonColour: #007bff;

$PoppinsFont: 'Poppins', sans-serif;
