$ShopBackgrounColour: #f3f3ff;
$DefaultBackgroundColour: #ffffff;
$ShoppingCartSummaryBackgroundColour: #f6f6f6;
$TextColour: #262626;
$ItemPriceColour: #060dd9;
$CheckoutbuttonColour: #4deea3;
$ButtonColour: #007bff;
$BreadcrumActiveColour: #1990c6;
$CategoryHeaderBackgroundColour: #6987c9;
$CategoryHeaderTextColour: #ffffff;
$FilterbarColour: #e7e7e7;
$FooterBarColour: #c4c4c4;
$ProductCardAddToButtonColour: #018849;

$PoppinsFont: 'Poppins', sans-serif;
