#AlertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  height: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-self: center;
  width: 100%;
  text-align: center;

  .returnHome {
    margin-top: 0.5rem;
    text-decoration: underline;
    font-weight: 600;
  }
}
