.filterBar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;

  @include media('<=phone') {
    flex-direction: column;
  }

  .selection {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media('<=phone') {
      margin-bottom: 1em;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      margin-right: 1em;
    }
  }

  .formSelector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 110px;
    margin-right: 2em;

    @include media('<=phone') {
      margin-right: 0;
    }
  }

  .formSelectContainer {
    margin-right: 0;
  }
}
