.itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 151px;
  min-height: 207px;
  border-radius: 20px;
  background: $DefaultBackgroundColour;
  margin-right: 15px;
  margin-bottom: 30px;

  // if the screen is greater than 430px and less than or eqaul to 450px
  @include media('>430px', '<510px') {
    margin-right: 50px;
  }

  // if the screen is greater than 450px and less than or equal to 620px
  @include media('>510px', '<620px') {
    margin-right: 15px;
  }

  @include media('>620px') {
    margin-right: 35px;
  }

  .favouriteIcon {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 15px;
  }

  .itemImage {
    max-width: 98px;
    max-height: 98px;
  }

  .itemImage:hover,
  .favouriteIcon:hover {
    cursor: pointer;
  }

  .itemInfo {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 12px;

    @include media('<=phone') {
      align-self: center;
      align-items: center;
    }
  }
}
