.itemCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // if the screen is greater than 430px and less than or eqaul to 450px
  @include media('>430px', '<510px') {
  }

  // if the screen is greater than 450px and less than or equal to 620px
  @include media('>510px', '<620px') {
  }

  @include media('>620px') {
  }

  .itemImage {
    max-width: 98px;
    max-height: 98px;
  }

  .itemInfo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media('<=phone') {
      align-self: center;
      align-items: center;
    }
  }
}
