.storeCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 104px;
  min-height: 64px;
  border-radius: 10px;
  background: $DefaultBackgroundColour;
  margin-right: 11px;

  :hover {
    cursor: pointer;
  }
}
