#MobileNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  position: sticky;
  bottom: 0;
  background-color: $DefaultBackgroundColour;

  a {
    height: 100%;
    align-self: center;
  }

  @include media('>tablet') {
    display: none;
  }
}
