#NavbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 25px;

  .backIcon:hover {
    cursor: pointer;
  }

  .desktopButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    .desktopIcon {
      margin-right: 30px;
    }
  }
}
