#NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 35px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  @include media('<=tablet') {
    width: 90%;
  }

  @include media('>tablet') {
    width: 85%;
  }

  .searchSeaction {
    @include media('<=tablet') {
      display: none;
    }
  }

  .backIcon:hover {
    cursor: pointer;
  }

  .desktopButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoppingCart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

    @include media('<=tablet') {
      display: none;
    }

    @include media('>tablet') {
      font-size: 13px;
    }
    .shoppingCartIcon {
      margin-right: 10px;
    }

    .checkoutButton {
      margin-left: 10px;
    }
  }

  .menueBtn {
    @include media('>tablet') {
      display: none;
    }
  }
}
